/*create by duweina*/
.blog-home {
  background: #fff;
  margin-top: 10px;
}

.text-context {
  width: 100%;
  text-align: left;
}

.len-context-detail p{
  font-size: 16px;
  color: #4f4f4f;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 16px;
}

h3 {
  font-size: 28px;
  color: #333;
  font-weight: normal;
  padding-top: 30px;
}

p.time {
  font-size: 14px;
  color: #999;
}

p.time span {
  color: #f4645f;
}

p.time span:hover {
  text-decoration: underline;
  cursor: pointer;
}

ul {
  margin-top: 20px;
  list-style: none;
}

.comment h5 {
  height: 50px;
  border-bottom: 1px solid #f4645f;
  line-height: 65px;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  color: #f4645f;
}

.comment .com {
  width: 90%;
  height: auto;
  border: 0px solid red;
  margin: 0px auto;
  margin-top: 15px;
}

.comment .com .pic {
  width: 60px;
  height: 60px;
  float: left;
  background: #ececec;
}

.comment .com .tit ul {
  margin-top: 0;
}

.comment .com .tit ul li {
  float: right;
  width: 85%;
  font-size: 14px;
  color: #333;
  text-align: left;
  margin-top: 5px;
}

.comment .com .tit ul li a {
  color: #f4645f;
  text-decoration: underline;
}

.comment .answer {
  width: 90%;
  height: auto;
  border: 0px solid red;
  margin: 0 auto;
}

.comment .answer textarea {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-top: 10px;
  color: #999;
  font-size: 14px;
  border: 1px solid #f4645f;
  outline: none;
}

.comment .answer input {
  width: 80px;
  height: 40px;
  background: #f4645f;
  font-size: 14px;
  color: #fff;
  float: right;
  outline: none;
  border: none;
  cursor: pointer;
}

.title-article {
  width: 95%;
  font-size: 24px;
  word-break: break-all;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 28px;
    color: #333;
    font-weight: normal;
    padding-top: 20px;
  }

  p.time {
    font-size: 14px;
    color: #999;
  }

  p.time span {
    color: #f4645f;
  }

  .cont .left p.time span:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  ul {
    margin-top: 20px;
    list-style: none;
  }

  .comment h5 {
    height: 50px;
    border-bottom: 1px solid #f4645f;
    line-height: 65px;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    color: #f4645f;
  }

  .comment .com {
    width: 90%;
    height: auto;
    border: 0px solid red;
    margin: 0px auto;
    margin-top: 15px;
  }

  .comment .com .pic {
    width: 60px;
    height: 60px;
    float: left;
    background: #ececec;
  }

  .comment .com .tit ul {
    margin-top: 0;
  }

  .comment .com .tit ul li {
    float: right;
    width: 80%;
    font-size: 14px;
    color: #333;
    text-align: left;
    margin-top: 5px;
  }

  .comment .com .tit ul li a {
    color: #f4645f;
    text-decoration: underline;
  }

  .comment .answer {
    width: 90%;
    height: auto;
    border: 0px solid red;
    margin: 0 auto;
  }

  .comment .answer textarea {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    color: #999;
    font-size: 14px;
    border: 1px solid #f4645f;
    outline: none;
  }

  .comment .answer input {
    width: 80px;
    height: 40px;
    background: #f4645f;
    font-size: 14px;
    color: #fff;
    float: right;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
